version: '3.4'
services:
  traefik:
    image: traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
    networks:
      - proxy1
      - proxy2
      - proxyaceservices
      - proxyemmasophro
      - proxylab
    deploy:
      restart_policy:
        condition: on-failure
      replicas: 1
      placement:
        constraints: [node.role == manager]
networks:
  proxy1:
  proxy2:
  proxyaceservices:
  proxyemmasophro:
  proxylab: