[entryPoints]
  [entryPoints.http]
  address = ":80"

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain= "codeheures.test"
watch = true
exposedByDefault = false

[api]
dashboard = true
debug = true

[file]
  [backends]
    [backends.backend1]
      [backends.backend1.servers.server1]
      url = "http://127.0.0.1:8080"

  [frontends]
    [frontends.frontend1]
    entryPoints = ["http"]
    backend = "backend1"
    basicAuth = ["sylvain:$apr1$mHEQhu6O$Kle0GexgViFNuape16RD/1"]
      [frontends.frontend1.routes.test_1]
      rule = "Host:traefik.codeheures.test"
